2S-2025/tp/tp2/competition_data/spotify_api_data
2S-2025/guias/resueltos/*.aux
2S-2025/guias/resueltos/*.out
2S-2025/guias/resueltos/*.log
1S-2026/guias/resueltos/*.aux
1S-2026/guias/resueltos/*.out
1S-2026/guias/resueltos/*.log
2S-2025/tp/tp2/competition_data
2S-2025/clases/practicas/p10/td6-p10-d-datos-imdb.zip
2S-2025/clases/practicas/p10/td6-p10-e-review-tokens.p
1S-2026/clases/practicas/2 - Taller de Datos/td6-p02-c-datos-vuelos.txt
1S-2026/clases/practicas/4 - Métricas/heart.csv
*.aux
*.out
*.log
