tp/tp2/competition_data/spotify_api_data
guias/resueltos/*.aux
guias/resueltos/*.out
guias/resueltos/*.log
tp/tp2/competition_data
practicas/p10/td6-p10-d-datos-imdb.zip
practicas/p10/td6-p10-e-review-tokens.p
*/*.aux
*/*.out
*/*.log
